var entity_id = "<%= @entity.class.name.downcase %>-<%= @entity.id %>"
$.modal.close();
$('#add-news-event-blog-modal').empty();
$('#news-events-blogs-cards').append("<div class='col-md-4 reduced-padding' id="+ entity_id +"><%= escape_javascript render partial: 'news-event-blog-card', locals:{card: @entity} %></div>")

NProgress.done();
