| #{link_to 'local', request.path + "?locale=local&type=#{@type}&search_letter=#{@search_letter}&industry=#{@industry}", class: @locale == 'local' ? 'active-link':'' } | #{link_to 'international', request.path + "?locale=international&type=#{@type}&search_letter=#{@search_letter}&industry=#{@industry}", class: @locale == 'international' ? 'active-link':'' }
