body{
  padding:20px 20px;
}

.table tr[visible='false'],
#gallery-photos .col-md-2[visible='false'],
.no-result{
  display:none;
}

.table tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px;
  color:#ccc;
}
